ADDMULTIPLE                   6                  MATHS
DIV                   6                  MATHS
MULT                   6                  MATHS
FRACTIONS                   6                  MATHS
#TEMPERATURE                   9
ASCDESC                    6                   MATHS
UNITARYWORK               6                   MATHS
UNITARYCOST                6                   MATHS
SQUAREROOTIRRATIONAL          9                   MATHS
MULTEXPR                      8                   MATHS
FACTOREXPR                   9                    MATHS 
DENSITY                      8                      SCIENCE
MOLE                         9                    SCIENCE
ATOMICNUMBER                 9                    SCIENCE
SET_INTERSECTION             9                    MATHS
FACTOREXPR_CUBE                    9                   MATHS
PERCENT1                    7                   MATHS
TRIANGLEANGLE1             8                     MATHS


NEWTON2LAW                     9                        SCIENCE

MOMENTUM1_CHANGEINVEL                     9                        SCIENCE
MOMENTUM2_CHANGEINMOM                    9                        SCIENCE
MOMENTUM3_RATEOFCHANGE                    9                        SCIENCE
MOMENTUM4_RIFLERECOIL                    9                        SCIENCE
MOMENTUM5_BULLETWOOD                    9                        SCIENCE

MOTION1_AIRPLANEDIST                      9                        SCIENCE
MOTION2_FORCEHOWLONG                      9                        SCIENCE

CIRCLEAreaCircum                     8                   MATHS

GEOMDistancePoints                      9                MATHS 
GEOMDividingInternally                      9                MATHS 

GEOMAreaofRightAngleTriangle            8    MATHS
GEOMAreaofIsocelesTriangle            8    MATHS
GEOMCircleFindRadiiFromChord            8    MATHS

EQNWhatnumberaddedgives                      6                MATHS 
EQNwhatnumbermultiplied                      6                MATHS 
EQNwhatnumberdivided                      6                MATHS 

EQN_MONEY                    9                   MATHS
EQN_FATHERAGE                    9                   MATHS
EQN_TWONUMBERRATIO                    9                   MATHS


RATIOCutpipeinRatio                      8                MATHS 
RATIOSimpleEquation                      8                MATHS 
RATIOProportionalitConst                      8                MATHS 



AP_FINDNTHTERM                      10                MATHS 
AP_SOLVEEQN                      10                MATHS 
AP_LOAN                      10                MATHS 
AP_SUMN                      10                MATHS 


GP_FINDNTHTERM    10                           MATHS 
GP_SUMN    10                           MATHS 




ELEC_I_from_QT   10  SCIENCE
ELEC_Q_from_IT   10  SCIENCE
ELEC_V_from_IR   10  SCIENCE
ELEC_V_from_WQ   10  SCIENCE
ELEC_P_from_WT 10  SCIENCE
ELEC_P_from_IR 10  SCIENCE




QUADROOTS_FACTOR     10  MATHS
