ADDMULTIPLE                   6
DIV                   6
MULT                   6
FRACTIONS                   6
#TEMPERATURE                   9
ASCDESC                    6 
CIRCLE                     8 
UNITARYWORK               6 
UNITARYCOST                6 
SQUAREROOTIRRATIONAL          9 
MULTEXPR                      8 
FACTOREXPR                   9 
#DENSITY                      7 
#MOLE                         9 
#ATOMICNUMBER                 9 
#SET_INTERSECTION             9 
EQN_MONEY                    9 
FACTOREXPR_CUBE                    9 

NEWTON2LAW                     9 

MOMENTUM1                     9 
MOMENTUM2                    9 
MOMENTUM3                    9 
MOMENTUM4                    9 

MOTION1                      9 
MOTION2                      9 
